.birthdayEllipseContainer {
  height: 80%;
  padding-top: 5rem;
  .ellipse {
    background-color: #fff;
    border-radius: 50%;
    width: 403px;
    height: 403px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: -6px 9px 0px 0px #000;
    img {
      animation: 6s infinite linear birthdayAnimation;
    }
    // infinite 360deg loop
    @keyframes birthdayAnimation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
